<div class="tabs-home tabs-clean tabs-corporate" id="imprimirConfirmacion">
	<div class="tab-content noborder">
		<div class="breadcrumb">
				[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Corporativo/Recibos/Ver y pagar recibos"]
			</div>
			<h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Corporativo/Recibos/Ver y pagar recibos"]</h3>
						   
		<div class="compra-confirm box">
			<p class="tit"><span class="red">{{upps_error}}</span></p>
			<p>{{vuelve_a_intentar}}</p>
		</div>
		
		<div class="compra-bts">
			<a href="/wps/myportal/miclaro/corporativo/recibos/movil/" class="bt bt-red">Retornanr</a>
		</div>
	</div>
</div>