<div class="tabs-home tabs-clean">
	<div class="tab-content noborder">
		<div class="breadcrumb">
			Consultas <span class="arrow"></span> <strong>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Orden de Servicio Tecnico"]</strong>
		</div>

		<h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Orden de Servicio Tecnico"]</h3>
		
		<p>[Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Orden de Servicio Tecnico"]</p>
		
		<div class="resume clearfix">
			<div class="tecnico-vacio">
				<p class="red">[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Orden de Servicio Tecnico - Sin Ordenes"]</p>
				<p>[Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Orden de Servicio Tecnico - Sin Ordenes"]</p>
				<p><a href ng-click="consultasOrdenDeServicioTecnicoCtr.openPagina()" class="bt bt-red">Ubica el CAC mas cercano</a></p>
			</div>
		</div>
	</div>
</div>