<div class="tabs tabs-home">
	<div class="tab-content">
		<div class="breadcrumb">
			Consultas <span class="arrow"></span> <strong>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Orden de Servicio Tecnico"]</strong>
		</div>

		<h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Orden de Servicio Tecnico"]</h3>
		<div id="movil" class="tab active">
			<div class="resume box clearfix">
				<div class="col100">
					<h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Home/Movil - Sin Plan"]</h3>
					<p>
						[Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Home/Movil - Sin Plan"]
						<br> &nbsp;
					</p>
					<p>
						<a href="/wps/myportal/miclaro/consumer/solicitudes/nuevoservicio/" class="bt bt-red">Solicitar nuevo servicio</a>
					</p>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>