<div class="tabs tabs-home tabs-corporate">
    <ul class="tab-links clearfix">
        <li class="movil active"><a href="/wps/myportal/miclaro/corporativo/consultas/servicioscontratados/movil/"><span></span> Móvil</a></li>
        <li class="fijo"><a href="/wps/myportal/miclaro/corporativo/consultas/servicioscontratados/fijo/"><span></span> Fijo</a></li>
        <li class="internet"><a href="/wps/myportal/miclaro/corporativo/consultas/servicioscontratados/internet/"><span></span> Internet</a></li>
        <li class="tv"><a href="/wps/myportal/miclaro/corporativo/consultas/servicioscontratados/tv"><span></span> TV</a></li>
    </ul>
    <div class="tab-content">
        <div id="movil" class="tab active">
            <div class="change-type on-mobile-switch" id="wps_switchmobile" style="display: none;">
                <label for="itype1">Residencial</label>
                <div class="switch">
                    <input type="checkbox" name="itype1" checked class="switch-checkbox" id="itype1" ng-model="switchSelect" ng-change="switchChange()">
                    <label class="switch-label" for="itype1"></label>
                </div>
                <label><span>Corporativo</span></label>
            </div>
            <div class="breadcrumb">
                Consultas <span class="arrow"></span> <strong>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Corporativo/Consultas/Servicios Contratados"]</strong>
            </div>
            <h3 class="mobile">[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Corporativo/Consultas/Servicios Contratados"]</h3>
            <div id="show_panel" style="display: none">
                <div class="filter-lista">
                    <span>
                        <label class="radio checked" id="lblradio1">
                        <input ng-click="verBolsasContratadas()" type="radio" id="radio1" checked />
                        </label> Ver Bolsas contratadas</span>
                    <span>
                        <label class="radio" id="lblradio2">
                        <input ng-click="verLineaEspecifica()" type="radio" id="radio2" />
                        </label> Ver línea específica</span>
                </div>
                <form method="post" class="form-filter clearfix">
                    <div class="col33">
                        <div class="pull pulldate" ng-class="{disabled: desabledCombos}">
                            <div>{{cuentaSelect.nombreCuenta}}</div>
                            <select ng-model="cuentaSelect" ng-options="rsCuenta.nombreCuenta for rsCuenta in lsCuenta" ng-change="changeCuenta()">
                            </select>
                        </div>
                    </div>
                    <div class="col33">
                        <div class="pull pulldate" ng-class="{disabled: desabledCombos}">
                            <div>{{reciboSelect.nombreRecibo}}</div>
                            <select ng-model="reciboSelect" ng-options="rsRecibo.nombreRecibo for rsRecibo in lsRecibo" ng-change="changeRecibo()">
                            </select>
                        </div>
                    </div>
                    <div class="col33 colsearch" id="filterlineamovil" ng-show="show_filterlineamovil">
                        <div class="pull pulldate" ng-show="show_directorio1">
                            <div>{{servicioSelected.ProductoServicioResponse.nombreAlias}}</div>
                            <select ng-model="servicioSelected" ng-options="rsServicio.ProductoServicioResponse.nombreAlias for rsServicio in lsServicio" ng-change="changeDirectorio()">
                            </select>
                        </div>
                        <div class="input search" ng-show="show_directorio2" style="display: block;">
                            <input type="text" id="autocomplete-movil" name="query" data-valid="required" data-holder="Celular" ng-model="inputLineaMovil">
                            <button type="button" class="bt bt-search"></button>
                        </div>
                        <a href="" class="action action2" ng-click="actionDirectorio('1')" style="content: '' !important">{{wps_textAction}}</a>
                    </div>
                </form>
                <!-- Ver Bolsas Contratadas -->
                <div id="id_bolsas_contratadas" style="display: none;">
                    <div class="detail clearfix">
                        <div class="col70 box">
                            <div class="detalle-plan">
                                <p class="border-bottom">Detalle del plan</p>
                                <table class="table-plan">
                                    <tr ng-show="show_datosadicionales">
                                        <th>Tipo de Plan: {{wps_planActual}}</th>
                                        <th width="40%">Cargo Fijo Mensual: {{wps_simboloMonedaCargo}} {{wps_cargoFijo}}</th>
                                    </tr>
                                    <tr ng-show="show_datosadicionales_error" style="text-align: center; color: #d42b1e">
                                        <td colspan="2">
                                            <strong>{{mensaje_upps_titulo}}</strong>
                                            <br> {{mensaje_upps_descripcion01}}
                                            <br>{{mensaje_upps_descripcion02}}
                                            <br>
                                            <a href="" ng-click="obtenerDatosAdicionalesServicioMovil_BOLSA()"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24" style="padding-top: 10px;"></a>
                                        </td>
                                    </tr>
                                    <tr ng-show="show_detalleplan" ng-repeat="model in wps_listadetalle">
                                        <td>{{model.etiqueta}}</td>
                                        <td>{{model.descripcion}}</td>
                                    </tr>
                                    <tr ng-show="show_detalleplan_error" style="text-align: center; color: #d42b1e">
                                        <td colspan="2">
                                            <strong>{{mensaje_upps_titulo}}</strong>
                                            <br> {{mensaje_upps_descripcion01}}
                                            <br>{{mensaje_upps_descripcion02}}
                                            <br>
                                            <a href="" ng-click="obtenerDetallePlanMovil_BOLSA()"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24" style="padding-top: 10px;"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="bts">
                                            <a href="" ng-click="dataLayerVerSaldosConsumos()" class="bt bt-white-min">Ver Saldos y Consumos</a>
                                            <a href="" ng-click="dataLayerVerMisRecibos()" class="bt bt-white-min">Ver Mis Recibos</a>
                                            <a href="" ng-click="dataLayerVerRelacionPlanes()" class="bt bt-red-min">Ver Relación de Planes</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col30 box">
                            <div class="publicidad">
                                <br>
                                <p>Publicidad</p>
                                <div id="imgPublicidad2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ver Linea Especifica -->
                <div id="id_linea_especifica" style="display: none;">
                    <div class="resume box clearfix">
                        <div class="col50">
                            <p>
                                <span class="type" ng-if="servicioSelected.ProductoServicioResponse.tipoLinea == 1">Línea Prepago</span>
                                <span class="type" ng-if="servicioSelected.ProductoServicioResponse.tipoLinea == 2">Línea Postpago</span>
                                <span class="type" ng-if="servicioSelected.ProductoServicioResponse.tipoLinea == 3">Línea Control</span>
                            </p>
                            <div class="pullservicio">
                                <div>{{servicioSelected.ProductoServicioResponse.nombreAlias}}</div>
                            </div>
                            <p>&nbsp;</p>
                        </div>
                        <div class="col50">
                            <p id="show_linea_datosadicionales_head" style="display: none;">
                                &nbsp;
                                <br> Fecha de Activación: <strong>{{wpsx_fechaActivacion | limitTo: 10 | date:"dd-MM-yyyy"}}</strong>
                                <br> Estado: <strong>{{wpsx_estado}}</strong>
                                <br>
                                <div ng-show="show_fin_contrato">
                                    Fin de Contrato de Equipo: <span class="help" title="Indica la fecha de termino de tu contrato, el cual firmaste con Claro para recibir un descuento especial en la compra de tu equipo móvil"></span> <strong>En {{wpsx_finContrato}} días</strong>
                                </div>
                            </p>
                            <p id="show_linea_datosadicionales_head_error" style="text-align: center; display: none; color: #d42b1e;">
                                <strong>{{mensaje_upps_titulo}}</strong>
                                <br> {{mensaje_upps_descripcion01}}
                                <br>{{mensaje_upps_descripcion02}}
                                <br>
                                <a href="" ng-click="getObtenerDatosAdicionalesServicioMovil_LINEA()"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24" style="padding-top: 10px;"></a>
                            </p>
                        </div>
                    </div>
                    <div class="detail clearfix">
                        <div class="col70 box">
                            <div class="detalle-plan">
                                <p class="border-bottom">Detalle del plan</p>
                                <table class="table-plan">
                                    <tr id="show_linea_datosadicionales" style="display: none">
                                        <th>Plan Contratado: {{wpsx_planActual}}</th>
                                        <th width="40%">Cargo Fijo Mensual: {{wpsx_simboloMoneda}} {{wpsx_cargoFijo}}</th>
                                    </tr>
                                    <tr id="show_linea_datosadicionales_error" style="display: none; text-align: center; color: #d42b1e">
                                        <td colspan="2">
                                            <strong>{{mensaje_upps_titulo}}</strong>
                                            <br> {{mensaje_upps_descripcion01}}
                                            <br>{{mensaje_upps_descripcion02}}
                                            <br>
                                            <a href="" ng-click="getObtenerDatosAdicionalesServicioMovil_LINEA()"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24" style="padding-top: 10px;"></a>
                                        </td>
                                    </tr>
                                    <tr id="show_linea_detalleplan" ng-repeat="modelx in wpsx_listadetalle">
                                        <td>{{modelx.etiqueta}}</td>
                                        <td>{{modelx.descripcion}}</td>
                                    </tr>
                                    <tr id="show_linea_detalleplan_error" style="display: none; text-align: center; color: #d42b1e">
                                        <td colspan="2">
                                            <strong>{{mensaje_upps_titulo}}</strong>
                                            <br> {{mensaje_upps_descripcion01}}
                                            <br>{{mensaje_upps_descripcion02}}
                                            <br>
                                            <a href="" ng-click="getObtenerDetallePlanMovil_LINEA()"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24" style="padding-top: 10px;"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="bts">
                                            <a href="#" ng-click="dataLayerVerSaldosConsumos()" class="bt bt-white-min">Ver Saldos y Consumos</a>
                                            <a href="#" ng-click="dataLayerVerCambioPlan()" class="bt bt-red">Cambiar de plan</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- Servicios Adicionales -->
                        <div class="col30 box" id="show_serviciosadicionales" style="display: none;">
                            <div class="more-plan">
                                <p class="border-bottom">Servicios Adicionales</p>
                                <div class="lista-plan">
                                    <div class="row" ng-repeat="model in wpsx_adicionales">
                                        <script type='text/javascript'>
                                        $(document).ready(function() {
                                            $('.help').tooltip({ placement: "top" });
                                        });
                                        </script>
                                        <span>{{model.etiqueta}}</span> <span class="help" title="{{model.tooltip}}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col30 box" id="show_serviciosadicionales_error" style="display: none">
                            <div class="more-plan">
                                <p class="border-bottom">Servicios Adicionales</p>
                                <div class="shadow">
                                    <p class="error-server">
                                        <strong>{{mensaje_upps_titulo}}</strong>
                                        <br> {{mensaje_upps_descripcion01}}
                                        <br>{{mensaje_upps_descripcion02}}
                                        <br>
                                        <a href="" ng-click="getObtenerServiciosAdicionales_LINEA()"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24" style="padding-top: 10px;"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Servicios Adicionales -->
                    </div>
                    <div class="col100">
                        <div class="publicidad box">
                            <p>Publicidad</p>
                            <div class="big-ad" id="imgPublicidad"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resume box clearfix" id="show_notiene" style="display: none">
                <div class="col100">
                    <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Corporativo/Home/Movil - Sin Plan"]</h3>
                    <p>
                        [Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Corporativo/Home/Movil - Sin Plan"]
                        <br> &nbsp;
                    </p>
                    <p><a href="/wps/myportal/miclaro/corporativo/solicitudes/nuevoservicio/movil" class="bt bt-red">Solicitar Nuevo Servicio</a></p>
                    <br>
                </div>
            </div>
            <div class="resume box clearfix" id="show_error" style="text-align: center; display: none;">
                <div class="col100">
                    <h3>{{mensaje_error_titulo}}</h3>
                    <p>
                        {{mensaje_error_descripcion01}}
                        <br /> {{mensaje_error_descripcion02}}
                        <br />
                        <br />
                        <a href="/wps/portal/miclaro/corporativo/consultas/servicioscontratados/movil"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24" style="padding-top: 10px;"></a>
                    </p>
                    <br>
                </div>
            </div>
            <div class="resume box clearfix" id="show_error_root" style="text-align: center; display: none;">
                <div class="col100">
                    <h3>{{mensaje_error_titulo}}</h3>
                    <p>
                        {{mensaje_error_descripcion01}}
                        <br /> {{mensaje_error_descripcion02}}
                        <br />
                        <br />
                        <a href="javascript:void(0)" ng-click="init()"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24" style="padding-top: 10px;"></a>
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>
$(document).ready(function() {
    $('.help').tooltip({ placement: "top" });
});
</script>