

<div class="tabs tabs-home">
<ul class="tab-links clearfix">
<li class="movil"><a href="/wps/myportal/miclaro/consumer/otros/registranumerosfrecuentes/movil"><span></span> Móvil</a></li>
<li class="fijo"><a href="/wps/myportal/miclaro/consumer/otros/registranumerosfrecuentes/fijo"><span></span> Fijo</a></li>
<li class="internet"><a href="/wps/myportal/miclaro/consumer/otros/registranumerosfrecuentes/internet"><span></span> Internet</a></li>
<li class="tv active"><a href="/wps/myportal/miclaro/consumer/otros/registranumerosfrecuentes/tv"><span></span> TV</a></li>
</ul>

<div id="tv" class="tab-content">
<div class="breadcrumb">Otros <span class="arrow"></span> <strong>Números Frecuentes</strong>
</div>
<h3 class="mobile">[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Otros/Registrar Numeros Frecuentes"]</h3>

<h3 class="mobile">[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Aviso Claro - Sin Opcion - TV"]</h3>
[Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Aviso Claro - Sin Opcion - TV"]
                <br>  
 </p>
<p><a  class="bt bt-red" href="/wps/myportal/miclaro/consumer/consultas/servicioscontratados/tv">servicios contratados</a></p>

</div>

</div>
