<h3 id="uppsCambioTope"></h3>
<p id="uppsIntentarlo"><br>&nbsp;</p>
<p><a href="#" class="bt bt-red" id="bttopeaceptar">Volver</a></p>
<script>
$(document).ready(function(e) {
   
	$("#uppsCambioTope").append(WPSMensajeError.upps);
	$("#uppsIntentarlo").append(WPSMensajeError.mensaje1+" "+WPSMensajeError.mensaje2+" "+WPSMensajeError.mensaje4+" "+WPSMensajeError.mensaje5);
	
	$('#bttopeaceptar').click(function(e){
         e.preventDefault();
          hidePopUp();
		 
    });
	
	var $popup = $('.popup');
	function hidePopUp() {
		$popup.fadeOut(250); 
	}
	
});
</script>
