<div class="tabs tabs-home tabs-corporate">
    <ul class="tab-links clearfix">
        <li class="movil"><a href="/wps/myportal/miclaro/corporativo/solicitudes/registrodirectoriotelefonico/movil"><span></span> Móvil</a></li>
        <li class="fijo"><a href="/wps/myportal/miclaro/corporativo/solicitudes/registrodirectoriotelefonico/fijo"><span></span> Fijo</a></li>
        <li class="Internet active"><a href="/wps/myportal/miclaro/corporativo/solicitudes/registrodirectoriotelefonico/internet"><span></span> Internet</a></li>
        <li class="tv"><a href="/wps/myportal/miclaro/corporativo/solicitudes/registrodirectoriotelefonico/tv"><span></span> TV</a></li>
    </ul>
    <div class="tab-content">
        <div id="internet" class="tab active">
            <div class="breadcrumb">
                Servicios <span class="arrow"></span> <strong>Directorio Telefónico</strong>
            </div>
            <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Corporativo/Consultas/Aviso Claro - Sin Opcion - Internet"]</h3>
            <p>
                [Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Corporativo/Consultas/Aviso Claro - Sin Opcion - Internet"]
                <br> &nbsp;
            </p>
            <p><a href="/wps/myportal/miclaro/corporativo/consultas/servicioscontratados/" class="bt bt-red">servicios contratados</a></p>
        </div>
    </div>
</div>
