<div class="tabs tabs-home">
	<ul class="tab-links clearfix">
		<li class="movil active"><a href="/wps/myportal/miclaro/consumer/recibos/movil/"><span></span> Móvil</a></li>
		<li class="fijo"><a href="/wps/myportal/miclaro/consumer/recibos/fijo/"><span></span> Fijo</a></li>
		<li class="internet"><a href="/wps/myportal/miclaro/consumer/recibos/internet/"><span></span> Internet</a></li>
		<li class="tv"><a href="/wps/myportal/miclaro/consumer/recibos/tv/"><span></span> TV</a></li>
	</ul>

	<div class="tab-content">
		<div id="movil" class="tab active">
			<div class="resume box clearfix">
				<div class="col100">
					<h3>{{upps_sin_recibos}}</h3>
					<p>
						{{no_titular}}<br>
						&nbsp;
					</p>
					<p>
						<a href="/wps/myportal/miclaro/consumer/solicitudes/nuevoservicio/" class="bt bt-red">Solicitar nuevo servicio</a>
					</p>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>