<div class="tabs tabs-home">
    <ul class="tab-links clearfix">
        <li class="movil"><a href="/wps/myportal/miclaro/consumer/home/movil"><span></span> Móvil</a></li>
        <li class="fijo"><a href="/wps/myportal/miclaro/consumer/home/fijo"><span></span> Fijo</a></li>
        <li class="internet"><a href="/wps/myportal/miclaro/consumer/home/internet"><span></span> Internet</a></li>
        <li class="tv active"><a href="/wps/myportal/miclaro/consumer/home/tv"><span></span> TV</a></li>
    </ul>
    <div class="tab-content">
        <div class="change-type on-mobile-switch" ng-show="showSwitch">
            <label>Residencial</label>
            <div class="switch">
                <input type="checkbox" name="itype1" class="switch-checkbox" id="itype1" ng-model="switchSelect" ng-change="switchChange()" />
                <label class="switch-label" for="itype1"></label>
            </div>
            <label for="itype1"><span>Corporativo</span></label>
        </div>
        <div id="tv" class="tab" style="display: none;">
            <div ng-show="flagServiciosTV != 0 && flagServiciosTV != 2 && flagServiciosTV != -1 && ErrorFlagTV == 0 && errorFuncional == 0 && servPrincipalError == 0">
                <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Home/TV - Servicios de TV"]</h3>
                <div class="resume box clearfix serviciosBox">
                    <div class="col50">
                        <p><span class="type">&nbsp;</span></p>
                        <div class="pull pullservicio" id="textoo">
                            <div id="textox">{{servicio.ProductoServicioResponse.nombreAlias}}</div>
                            <select name="iservicio" ng-model="servicio" ng-options="servicio as servicio.ProductoServicioResponse.nombreAlias for servicio in serviciosList track by servicio.ProductoServicioResponse.idProductoServicio" ng-change="miClaroHomeCtr.cambioServicio()">
                            </select>
                        </div>
                        <p ng-show="estadoServicioFlag == 0">
                            {{estadoServicio.direccionCompleta}}
                            <br> Estado del servicio: <strong>{{estadoServicio.estadoServicio}}</strong>
                            <br>
                            <span class="alert" ng-show="servicio.ProductoServicioResponse.tipoLinea == 2">¡Faltan {{estadoServicio.diasFinCicloServicio}} día(s) para recibir tus servicios contratados!</span>
                        </p>
                    </div>
                    <div class="col50" ng-show="estadoServicioFlag == 0 && servicio.ProductoServicioResponse.tipoLinea == 2 && estadoServicio.deudaPendienteSaldo > 1 || estadoServicio.deudaPendienteSaldo < 0">
                        <div class="list">
                            <div class="row tit">
                                <div class="col">Deuda Pendiente</div>
                                <div class="col"><strong>{{estadoServicio.simboloMoneda}} <span class="counter" ng-bind="estadoServicio.deudaPendienteSaldo | number:2"></span></strong></div>
                            </div>
                            <div class="row">
                                <div class="col">Estado de Cuenta:</div>
                                <div class="col"><strong>{{estadoServicio.estadoCuenta}}</strong></div>
                            </div>
                            <div class="row">
                                <div class="col">Vencimiento:</div>
                                <div class="col">{{estadoServicio.fechaVencimientoExpiracion | limitTo: 10 | date:"dd 'de' MMMM, yyyy"}}</div>
                            </div>
                            <div class="row">
                                <div class="col">Ciclo de Facturación:</div>
                                <div class="col">{{cicloFacturacion}}</div>
                            </div>
                            <div class="bts">
                                <a ng-if="estadoServicio.deudaPendienteSaldo > 1" href="" ng-click="pagarRecibo()" class="bt bt-red">Pagar</a>
                                <a ng-if="estadoServicio.deudaPendienteSaldo < 0"  href="/wps/myportal/miclaro/consumer/recibos/tv" class="bt bt-red">Ver Recibos</a>
                            </div>
                        </div>
                    </div>
                    <div class="col50" ng-show="estadoServicioFlag == 0 && servicio.ProductoServicioResponse.tipoLinea == 1">
                        <div class="list">
                            <div class="row tit">
                                <div class="col">Mi Saldo</div>
                                <div class="col"><strong>{{estadoServicio.simboloMoneda}} <span class="counter" ng-bind="estadoServicio.deudaPendienteSaldo | number:2"></span></strong></div>
                            </div>
                            <div class="row">
                                <div class="col">Fecha de última recarga:</div>
                                <div class="col"><strong>{{estadoServicio.fechaUltimaRecarga | limitTo: 10 | date:"dd 'de' MMMM, yyyy"}}</strong></div>
                            </div>
                            <div class="row">
                                <div class="col">Monto de última recarga:</div>
                                <div class="col">{{estadoServicio.simboloMoneda}} {{estadoServicio.montoUltimaRecarga | number:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col">Vencimiento:</div>
                                <div class="col">{{estadoServicio.fechaVencimientoExpiracion | limitTo: 10 | date:"dd 'de' MMMM, yyyy"}}</div>
                            </div>
                            <div class="bts no-mobile">
                                <a href="/wps/myportal/miclaro/consumer/consultas/historialtransacciones/tv" class="bt bt-red">Ver Recargas</a>
                            </div>
                        </div>
                    </div>
                    <div class="col50" ng-show="estadoServicioFlag == 0 && estadoServicio.deudaPendienteSaldo > 0 && estadoServicio.deudaPendienteSaldo < 1">
                        <div class="list">
                            <div class="row tit">
                                <div class="col">Deuda Pendiente</div>
                                <div class="col"><strong>{{estadoServicio.simboloMoneda}} <span class="counter" ng-bind="estadoServicio.deudaPendienteSaldo | number:2"></span></strong></div>
                            </div>
                            <div class="miniDeuda">¡Tranquilo! Este monto NO amerita el corte de tu servicio y lo podrás pagar junto con tu próximo recibo.</div>
                            <div class="bts">
                                <a href="/wps/myportal/miclaro/consumer/recibos/tv" class="bt bt-red">Ver Recibos</a>
                            </div>
                        </div>
                    </div>
                    <div class="col50" ng-show="estadoServicioFlag == 0 && estadoServicio.deudaPendienteSaldo == 0 && servicio.ProductoServicioResponse.tipoLinea == 2">
                        <div class="list">
                            <div class="row tit">
                                <div class="col">Deuda Pendiente</div>
                                <div class="col"><strong>S/. <span class="no-counter">0.00</span></strong></div>
                            </div>
                            <div class="row alert">
                                <div class="col">¡Estás al día en tus pagos! Mira tus últimos recibos.</div>
                            </div>
                            <div class="bts">
                                <a href="/wps/myportal/miclaro/consumer/recibos/tv" class="bt bt-red">Ver Recibos</a>
                            </div>
                        </div>
                    </div>
                    <div class="col50" ng-show="estadoServicioFlag != 0 && estadoServicioFlag != null">
                        <p class="error-server">
                            <strong>{{mensaje_upps_titulo}}</strong>
                            <br>{{mensaje_upps_descripcion01}}
                            <br>{{mensaje_upps_descripcion02}}
                            <a href="" ng-click="recargarEstadoServicio()"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24"></a>
                        </p>
                    </div>
                </div>
                <div class="detail clearfix">
                    <div class="col50 colbig boxConsumos">
                        <div class="plan clearfix box plan-tv" ng-show="consumosTvFlag == 0 && servicio.ProductoServicioResponse.tipoLinea == 2">
                            <p class="plan">Detalle de Plan Claro TV</p>
                            <h3>{{planTV.nombrePlan}}</h3>
                            <div class="col33">
                                <img src="/wpstheme/miclaro/img/icon-sd.png" width="36">
                                <strong>{{planTV.numeroCanalesSD}}</strong> Canales SD
                            </div>
                            <div class="col33">
                                <img src="/wpstheme/miclaro/img/icon-hd.png" width="36">
                                <strong>{{planTV.numeroCanalesHD}}</strong> Canales HD
                            </div>
                            <div class="col33">
                                <img src="/wpstheme/miclaro/img/icon-audio.png" width="25">
                                <strong>{{planTV.numeroCanalesAudio}}</strong> Canales Audio
                            </div>
                            <br class="both">
                            <a href="" ng-click="guiaCanales()" class="bt bt-red">Ver Guia de Canales</a>
                            <a href="/wps/myportal/miclaro/consumer/solicitudes/cambiodeplan/tv" class="bt bt-white bt-50-left">Cambia tu Plan</a>
                            <a href="/wps/myportal/miclaro/consumer/solicitudes/paquetestvadicionales" class="bt bt-white bt-50-right bt-text-min">Suscribete a Paquetes Premium</a>
                        </div>
                        <div class="plan clearfix box plan-tv-satelital" ng-show="consumosTvFlag == 0 && servicio.ProductoServicioResponse.tipoLinea == 1">
                            <p class="plan">Detalle de Plan Claro TV</p>
                            <h3>{{planTV.nombrePlan}}</h3>
                            <div class="col16">
                                &nbsp;
                            </div>
                            <div class="col33">
                                <img src="/wpstheme/miclaro/img/icon-sd.png" width="36">
                                <strong>{{planTV.numeroCanalesSD}}</strong> Canales SD
                            </div>
                            <div class="col33">
                                <img src="/wpstheme/miclaro/img/icon-audio.png" width="29">
                                <strong>{{planTV.numeroCanalesAudio}}</strong> Canales de Audio
                            </div>
                            <br class="both">
                            <a href="" ng-click="guiaCanales()" class="bt bt-red">Ver Guia de Canales</a>
                            <a href="/wps/myportal/miclaro/consumer/solicitudes/cambiodeplan/tv" class="bt bt-white bt-50-left">Cambia tu Plan</a>
                            <a href="/wps/myportal/miclaro/consumer/solicitudes/paquetestvadicionales" class="bt bt-white bt-50-right bt-text-min">Suscribete a Paquetes Premium</a>
                        </div>
                        <div class="consumos box" ng-show="consumosTvFlag != 0 && consumosTvFlag != null">
                            <p>Detalle de Plan Claro TV</p>
                            <p class="error-server">
                                <strong>{{mensaje_upps_titulo}}</strong>
                                <br>{{mensaje_upps_descripcion01}}
                                <br>{{mensaje_upps_descripcion02}}
                                <a href="" ng-click="recargarConsumos()"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24"></a>
                            </p>
                        </div>
                    </div>
                    <div class="col50 colbig">
                        <div class="publicidad box">
                            <img src="" width="445" alt="publicidad" class="ad">
                        </div>
                    </div>
                </div>
            </div>
            <div class="" ng-show="flagServiciosTV == 0 || flagServiciosTV == 2">
                <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Home/TV - Servicios de TV"]</h3>
                <div class="resume box clearfix">
                    <div class="col100">
                        <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Home/TV - Sin Plan"]</h3>
                        <p>
                            [Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Home/TV - Sin Plan"]
                            <br> &nbsp;
                        </p>
                        <p>
                            <a href="/wps/myportal/miclaro/consumer/solicitudes/nuevoservicio" class="bt bt-red">Solicitar nuevo servicio</a>
                        </p>
                        <br>
                    </div>
                </div>
            </div>
            <div ng-show="flagServiciosTV == -1">
                <div id="movil" class="tab active">
                    <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Home/TV - Servicios de TV"]</h3>
                    <div class="resume box clearfix" style="text-align: center;">
                        <div class="col100">
                            <h3>{{mensaje_error_titulo}}</h3>
                            <p>
                                {{mensaje_error_descripcion01}}
                                <br /> {{mensaje_error_descripcion02}}
                                <br />
                                <br />
                                <a href="/wps/myportal/miclaro/root"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24"></a>
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="showUpps">
                <div id="movil" class="tab active">
                    <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Home/TV - Servicios de TV"]</h3>
                    <div class="resume box clearfix" style="text-align: center;">
                        <div class="col100">
                            <h3>{{mensaje_error_titulo}}</h3>
                            <p>
                                {{mensaje_error_descripcion01}}
                                <br /> {{mensaje_error_descripcion02}}
                                <br />
                                <br />
                                <a href="/wps/myportal/miclaro/consumer/home/tv"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24"></a>
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="footerMiClaro box no-mobile">
                    <img src="/wpstheme/miclaro/img/icon-reclamaciones.png"> <a href="" ng-click="libroReclamaciones()">Libro de Reclamaciones</a>
                </div>
            </div>
        </div>
    </div>
</div>
