<div class="tabs tabs-home">
    <ul class="tab-links clearfix">
        <li class="movil"><a href="/wps/myportal/miclaro/consumer/consultas/detalleconsumos/movil"><span></span> Móvil</a></li>
        <li class="fijo"><a href="/wps/myportal/miclaro/consumer/consultas/detalleconsumos/fijo"><span></span> Fijo</a></li>
        <li class="internet active"><a href="/wps/myportal/miclaro/consumer/consultas/detalleconsumos/internet"><span></span> Internet</a></li>
        <li class="tv "><a href="/wps/myportal/miclaro/consumer/consultas/detalleconsumos/tv"><span></span> TV</a></li>
    </ul>
    <div class="tab-content">
        <div id="tv" class="tab active avisoBox">
           <div class="breadcrumb">
                    Consultas <span class="arrow"></span> <strong>Detalle de Consumos</strong>
                </div>
				<h3 class="mobile" >[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Detalle de Consumos"]</h3>
			  <div class="resume box clearfix">
                <h3 class="mobile">[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Aviso Claro - Sin Opcion - Internet"]</h3>

            <p>
				[Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Aviso Claro - Sin Opcion - Internet"]
			 &nbsp;
			</p>               
			   <br>  
              
            <p><a href="#" class="bt bt-red">servicios contratados</a></p>
			</div>
        </div>
    </div>
</div>
