<div class="tabs-home tabs-clean tabs-corporate" id="imprimirConfirmacion">
    <div class="tab-content noborder">
        <div class="breadcrumb">
            [Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Corporativo/Recibos/Ver y pagar recibos"]
        </div>
        <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Corporativo/Recibos/Ver y pagar recibos"]</h3>
        <div class="compra-confirm box">
            <p class="tit"><span class="red">{{upps_ocurrio_error}}</span></p>
            <p>{{transaccion_error}}</p>
            <table>
                <tr ng-repeat="recibo in confirmacionPagoCtr.listaRecibosPagarSession">
                    <td><strong ng-if="$first">Número de recibo(s):</strong></td>
                    <td>{{recibo.numeroRecibo}}</td>
                </tr>
                <tr>
                    <td><strong>Producto:</strong></td>
                    <td>Telefonía Móvil</td>
                </tr>
                <tr>
                    <td><strong>Fecha de pago:</strong></td>
                    <td>{{fechaActual | limitTo: 10 | date:"dd 'de' LLLL 'de' yyyy"}}</td>
                </tr>
                <tr>
                    <td><strong>Monto pagado:</strong></td>
                    <td>s/.00.00</td>
                </tr>
                <tr>
                    <td><strong>Modo de pago:</strong></td>
                    <td>Tarjeta</td>
                </tr>
            </table>
        </div>
        <div class="compra-bts">
            <a href ng-click="confirmacionPagoCtr.imprimir()" class="bt bt-white">Imprimir</a>
            <a href="/wps/myportal/miclaro/corporativo/recibos/tv/" class="bt bt-red">Finalizar</a>
        </div>
    </div>
</div>
