<div class="tabs-home tabs-clean">
    <div class="tab-content noborder">
        <br>
        <br>
        <div class="change-type on-mobile-switch" ng-show="showSwitch">
            <label>Residencial</label>
            <div class="switch">
                <input type="checkbox" name="itype1" class="switch-checkbox" id="itype1" ng-model="switchSelect" ng-change="switchChange()"
                />
                <label class="switch-label" for="itype1"></label>
            </div>
            <label for="itype1">
                <span>Corporativo</span>
            </label>
        </div>
        <div class="breadcrumb">
            Consultas
            <span class="arrow"></span>
            <strong>Claro Puntos</strong>
        </div>
        <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Claro Puntos"]</h3>
        <div>

            <div id="show_panel" style="display: none;">
                <div class="resume resume-puntos clearfix" id="show_puntos" style="display: none;">
                    <div class="col50">
                        <p>Mis Claro Puntos</p>
                        <h4 class="puntos">{{rs_claroPuntos | number}}</h4>
                    </div>
                    <div class="col50">
                        <div class="list">
                            <div class="row tit">
                                <div class="col">Puntos por vencer</div>
                                <div class="col">
                                    <strong>{{rs_claroPuntosPorVencer}}</strong>
                                </div>
                            </div>
                            <div class="row" id="rs_claroPuntosFechaVencimiento" style="display: none;">
                                <div class="col">Próxima fecha de vencimiento</div>
                                <div class="col">{{ rs_claroPuntosFechaVencimiento | date:"dd MMMM, yyyy" }} </div>
                            </div>
                            <div class="bts" id="show_botoncanjear" style="display: none;">
                                <a href="/wps/myportal/miclaro/consumer/comprasyrecargas" class="bt bt-red">Canjear Puntos</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="divCanejClaroPuntosMillas">
                    <div>
                        <p class="border-bottom sub-title">CLARO PUNTOS &nbsp;&nbsp;<img width="26px" height="30px" style="padding-bottom: 4px;" src="../../assets/img/convertirIcon.png" alt="convertir">&nbsp;&nbsp; MILLAS LATAM PASS</p>
                        <p class="ng-binding sub-title">Convierte tus Claro Puntos a Millas LATAM Pass</p>
                        <p class="ng-binding sub-title-2">Recuerda que 1 Claro Punto equivale a 1 Milla LATAM Pass.</p>
                        <div class="form-group box-claro-puntos">
                            <span class="title-label">Mis Claro Puntos:</span>
                            <input type="number" ng-paste="pasteNumberPuntos($event)" id="validPuntos" class="form-control form-puntos" ng-model="puntosCanjear">
                            <input type="submit" class="bt bt-red" id="puntos" href="javascript:void(0);" ng-click="obtenerSocioConvenio(1)" value="CONVERTIR">
                        </div>
                    </div>

                    <div>
                        <p class="ng-binding sub-title">Convierte tus Millas LATAM Pass a Claro Puntos</p>
                        <p class="ng-binding sub-title-2">Recibe un correo electrónico con la cantidad de Millas LATAM Pass que tienes haciendo click  
                            <a href="javascript:void(1);" ng-click="obtenerSocioConvenio(3)" 
                            class="links">aquí</a></p>
                        <div class="form-group box-claro-puntos">
                            <span class="title-label">Millas LATAM Pass:</span>
                            <input type="number" ng-paste="pasteNumberMillas($event)" id="validMillas" ng-model="millasCanjear" class="form-control form-puntos">
                            <input type="submit" class="bt bt-red" id="millas" disabled="disabled" href="javascript:void(0);" ng-click="obtenerSocioConvenio(2)"
                                value="CONVERTIR">
                        </div>
                    </div>
                </div>
                <!-- canje kilometros latam - claro puntos -->

                <div class="tab active" id="show_error_mis_puntos_claro_club" style="display: none;">
                    <div class="resume box clearfix">
                        <p class="error-server" style="padding-bottom: 20px; text-align: center;">
                            <strong>{{mensaje_upps_titulo}}!</strong>
                            <br> {{mensaje_upps_descripcion01}}
                            <br>{{mensaje_upps_descripcion02}}
                            <br>
                            <a href="" ng-click="init_mis_puntos_claro()">
                                <img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24">
                            </a>
                        </p>
                    </div>
                </div>

                <div class="no-mobile" id="ultimoMovimiento">
                    <p class="border-bottom">Movimiento de Puntos (Últimos 30 movimientos)</p>
                    <table class="table shadow">
                        <tr>
                            <th>Fecha</th>
                            <th>Descripción</th>
                            <th>Puntos Canjeados</th>
                            <th>Puntos Acumulados</th>
                        </tr>
                        <tr ng-repeat="rsMovimiento in lsMovimiento | limitTo: 30">
                            <td>{{rsMovimiento.fecha | limitTo: 10 | date:"dd-MM-yyyy"}}</td>
                            <td>{{rsMovimiento.descripcion}}</td>
                            <td>{{rsMovimiento.puntosCanjeados}}</td>
                            <td>{{rsMovimiento.puntosAcumulados}}</td>
                        </tr>
                    </table>
                    <div style="padding-top:20px; display: none;" class="masdetalle30">Solo te enseñamos los últimos 30 movimientos, si quieres más detalle, llámanos al *123 desde tu móvil
                        o al 0-800-00123 desde tu fijo.</div>
                </div>
                <div class="on-mobile" id="movimientoPuntos">
                    <p class="border-bottom">Movimiento de Puntos</p>
                    <table class="table shadow table-mobile">
                        <tr ng-repeat="rsMovimiento in lsMovimiento | limitTo: 20">
                            <td>
                                Fecha
                                <span>{{rsMovimiento.fecha | limitTo: 10 | date:"dd-MM-yyyy"}}</span>
                                <br> Descripción
                                <span>{{rsMovimiento.descripcion}}</span>
                                <br> Puntos Canjeados
                                <span>{{rsMovimiento.puntosCanjeados}}</span>
                                <br> Puntos Acumulados
                                <span>{{rsMovimiento.puntosAcumulados}}</span>
                            </td>
                        </tr>
                    </table>
                    <div style="padding-top:20px; font-size: 12px; display: none;" class="masdetalle20">Solo te enseñamos los últimos 20 movimientos, si quieres más detalle, llámanos al *123 desde tu móvil
                        o al 0-800-00123 desde tu fijo.</div>
                </div>
            </div>

            <div class="resume resume-puntos clearfix" id="show_sin_movimientos" style="display: none;">
                <div class="col100">
                    <p>&nbsp;</p>
                    <p class="center">Aún no cuentas puntos ClaroClub.
                        <br>Descubre cómo puedes ganar puntos
                        <a href="http://www.claro.com.pe/portal/pe/sc/personas/claro-club/"
                            target="_blank">aquí</a>
                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>

            <div class="tab active" id="show_error_root" style="display: none;">
                <div class="resume box clearfix">
                    <div class="col100" style="text-align: center;">
                        <h3>{{mensaje_error_titulo}}</h3>
                        <p>
                            {{mensaje_error_descripcion01}}
                            <br /> {{mensaje_error_descripcion02}}
                            <br />
                            <br />
                            <a href="/wps/myportal/miclaro/root">
                                <img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24">
                            </a>
                        </p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="popup errorNoSocio">
                <div class="bg" ng-click="closePop()"></div>
                <div class="pop">
                    <button type="button" ng-click="closePop()" class="bt btclose"></button>
                    <div style="display: block;" class="content">
                        <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Error No Socio LATAM"]</h3>
                        <div>
                            [Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Error No Socio LATAM"]
                            <p class="btn-confirmar-claro-puntos">
                                <a href="" ng-click="closePop()" class="bt bt-red">Aceptar</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup consultaMillas">
                <div class="bg" ng-click="closePop()"></div>
                <div class="pop">
                    <button type="button" ng-click="closePop()" class="bt btclose"></button>
                    <div class="content" id="pop-latam">
                        <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Pop Up Enviar Millas Latam"]</h3>
                        <div>
                            [Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Pop Up Enviar Millas Latam"]
                            <p class="btn-confirmar-claro-puntos">
                                <a href="" ng-click="closePop()" class="btn-ok bt bt-red ">Aceptar</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup popErrorSocio">
                <div class="bgs" ng-click="closePop()"></div>
                <div class="pop">
                    <div class="content errorCanjePuntos">
                        <button type="button" ng-click="closePop()" class="bt btclose"></button>
                        <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Ups General"]</h3>
                        <div>
                            [Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Ups General"]
                            <p class="btn-confirmar-claro-puntos">
                                <a ng-click="closePop()" class="bt bt-red">Aceptar</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup popConvertirPuntos">
                <div class="bgs" ng-click="resetPopPuntos()"></div>
                <div class="pop">
                    <div style="display: block;" class="content convertirPuntos">
                        <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Pop Up Confirmar Puntos a Millas"]</h3>
                        <div>
                            [Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Pop Up Confirmar Puntos a Millas"]
                            <p class="btn-confirmar-claro-puntos">
                                <a ng-click="canjearMillasLatam()" class="bt bt-red visible-xs">Aceptar</a>
                                <a href="" class="bt bt-gris btn-cancelar" ng-click="closePop()">Cancelar</a>
                                <a ng-click="canjearMillasLatam()" class="bt bt-red hidden-xs">Aceptar</a>
                            </p>
                        </div>
                    </div>
                    <div style="display: none;" class="content insuficientesPuntos">
                        <button type="button" ng-click="resetPopPuntos()" class="bt btclose"></button>
                        <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Claro Puntos Insuficientes"]</h3>
                        <div>
                            [Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Claro Puntos Insuficientes"]
                            <p class="btn-confirmar-claro-puntos">
                                <a ng-click="resetPopPuntos()" class="bt bt-red">Aceptar</a>
                            </p>
                        </div>
                    </div>
                    <div style="display: none;" class="content errorCanjeRepetido">
                        <button type="button" ng-click="resetPopPuntos()" class="bt btclose"></button>
                        <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Canje Millas Repetido"]</h3>
                        <div>
                            [Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Canje Millas Repetido"]
                            <p class="btn-confirmar-claro-puntos">
                                <a ng-click="resetPopPuntos()" class="bt bt-red">Aceptar</a>
                            </p>
                        </div>
                    </div>
                    <div style="display: none;" class="content errorCanjePuntos">
                        <button type="button" ng-click="resetPopPuntos()" class="bt btclose"></button>
                        <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Ups General"]</h3>
                        <div>
                            [Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Ups General"]
                            <p class="btn-confirmar-claro-puntos">
                                <a ng-click="resetPopPuntos()" class="bt bt-red">Aceptar</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup popConvertirMillas">
                <div class="bgs" ng-click="resetPopMillas()"></div>
                <div class="pop">
                    <div style="display: block;" class="content convertirMillas">
                        <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Pop Up Confirmar Millas a Puntos"]</h3>
                        <div>
                            [Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Pop Up Confirmar Millas a Puntos"]
                            <p class="btn-confirmar-claro-puntos">
                                <a ng-click="canjearPuntos()" class="bt bt-red visible-xs">Aceptar</a>
                                <a href="" class="bt bt-gris btn-cancelar" ng-click="closePop()">Cancelar</a>
                                <a ng-click="canjearPuntos()" class="bt bt-red hidden-xs">Aceptar</a>
                            </p>
                        </div>
                    </div>
                    <div style="display: none;" class="content insuficientesMillas">
                        <button type="button" ng-click="resetPopMillas()" class="bt btclose"></button>
                        <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Millas LATAM Insuficiente"]</h3>
                        <div>
                            [Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Millas LATAM Insuficiente"]
                            <p class="btn-confirmar-claro-puntos">
                                <a ng-click="resetPopMillas()" class="bt bt-red">Aceptar</a>
                            </p>
                        </div>
                    </div>
                    <div style="display: none;" class="content errorCanjeMillas">
                        <button type="button" ng-click="resetPopMillas()" class="bt btclose"></button>
                        <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Ups General"]</h3>
                        <div>
                            [Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Claro Puntos/Ups General"]
                            <p class="btn-confirmar-claro-puntos">
                                <a ng-click="resetPopMillas()" class="bt bt-red">Aceptar</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content confirmacionCanjeMillas" style="display:none">
                <div class="tabs-home tabs-clean">
                    <div class="tab-content noborder" id="printableAreaMillas">
                        <div class="compra-confirm box">
                            <p class="tit">La solicitud fue enviada con éxito</p>
                            <p>Podrás ver tus Claro Puntos en un período máximo de
                                <span class="red">
                                    <b>24 horas</b>
                                </span>
                            </p>
                            <table>
                                <tr>
                                    <td>
                                        <strong>Conversión:</strong>
                                    </td>
                                    <td>De Millas LATAM Pass a Claro Puntos</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Millas LATAM Pass canjeadas:</strong>
                                    </td>
                                    <td>{{millasCanjear | number}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Fecha:</strong>
                                    </td>
                                    <td>{{date | date:"dd 'de' MMMM 'de' yyyy"}}</td>
                                </tr>
                            </table>
                            <div class="compra-bts">
                                <input type="button" ng-click="reload()" value="Finalizar" class="no-print bt bt-red visible-xs" />
                                <input type="button" ng-click="printDiv('printableAreaMillas')" value="Imprimir" class="bt bt-white" />
                                <input type="button" ng-click="reload()" value="Finalizar" class="bt bt-red hidden-xs" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content confirmacionCanjeClaroPuntos" style="display:none">
                <div class="tabs-home tabs-clean">
                    <div class="tab-content noborder" id="printableAreaPuntos">
                        <div class="compra-confirm box">
                            <p class="tit">La solicitud fue enviada con éxito</p>
                            <div class="divLatam">
                                <p>Podrás ver tus Millas LATAM Pass en las próximas
                                    <span class="red">
                                        <strong>24 horas</strong>
                                    </span> entrando a
                                    <a onclick="window.open('https://www.latam.com', '_blank')" class="urlLatam">www.latam.com</a>
                                    <!--input type="button" id='LinkLatam1' value="www.latam.com" class="urlLatam"-->
                                    <span class="help" title="En caso la solicitud no sea procesada con éxito, se te devolverán los Claro Puntos que intentaste convertir."></span>
                                </p>
                            </div>
                            <table>
                                <tr>
                                    <td>
                                        <strong>Conversión:</strong>
                                    </td>
                                    <td> De Claro Puntos a Millas LATAM Pass</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Claro Puntos canjeados:</strong>
                                    </td>
                                    <td>{{puntosCanjear | number}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Fecha:</strong>
                                    </td>
                                    <td>{{date | date:"dd 'de' MMMM 'de' yyyy"}}</td>
                                </tr>
                            </table>
                            <div class="compra-bts">
                                <input type="button" ng-click="reload()" value="Finalizar" class="no-print bt bt-red visible-xs" />
                                <!--input type="button" onclick="printDiv('printableArea')" value="Imprimir" class="bt bt-white" /-->
                                <a ng-click="printDiv('printableAreaPuntos')" class="bt bt-white">Imprimir</a>
                                <input type="button" ng-click="reload()" value="Finalizar" class="bt bt-red hidden-xs" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.help').tooltip({ placement: "top" });
    });
</script>