<div class="tabs-home tabs-clean">
    <div class="tab-content noborder">
        <div class="change-type on-mobile-switch" ng-show="mostrarSwitchConsumer">
            <br>&nbsp;
            <br>
            <label>Residencial</label>
            <div class="switch">
                <input type="checkbox" name="itype1" class="switch-checkbox" id="itype1" ng-model="switchSelect" ng-change="switchChange()" />
                <label class="switch-label" for="itype1"></label>
            </div>
            <label for="itype1"><span>Corporativo</span></label>
        </div>
        <div class="breadcrumb">
            Solicitudes <span class="arrow"></span> <strong>Nuevo Servicio</strong>
        </div>
        <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Solicitudes/Nuevo Servicio"]</h3>
        <div class="box" ng-show="mostrarIconos">
            <h4 class="tit-border">Selecciona los servicios que quieras solicitar</h4>
            <div class="options clearfix">
                <div class="col25" ng-click="mostrarMovil()">
                    <div class="option movil" data-href="nuevo-movil">
                        <p><span class="icon-compra compra-llamadas"></span>Movil Postpago</p>
                    </div>
                </div>
                <div class="col25" ng-click="mostrarFijo()">
                    <div class="option telefonia" data-href="nuevo-telefonia">
                        <p><span class="icon-compra compra-voz"></span>Telefonía Fija</p>
                    </div>
                </div>
                <div class="col25" ng-click="mostrarInternet()">
                    <div class="option internet" data-href="nuevo-internet">
                        <p><span class="icon-compra compra-internet"></span>Internet</p>
                    </div>
                </div>
                <div class="col25" ng-click="mostrarTv()">
                    <div class="option tv" data-href="nuevo-tv">
                        <p><span class="icon-compra compra-soles"></span>TV</p>
                    </div>
                </div>
            </div>
            <br class="both">
            <h4 class="tit-border">Cuánto vas a consumir?</h4>
            <p>Arrastra la barra de cada Item para especificar la cantidad que necesitas.</p>
            <br>
            <div class="opt nuevo-movil" ng-show="mostrarSlideMovil">
                <div class="col25">
                    <strong>Movil Postpago</strong>
                </div>
                <div class="col75">
                    <div id="slider-movil" class="range mb_slider" data-property="{minVal: {{movilMin}}, maxVal: {{movilMax}}, startAt:0, grid:1}"></div>
                </div>
            </div>
            <div class="opt nuevo-internet" ng-show="mostrarSlideInternet">
                <div class="col25">
                    <strong>Internet</strong>
                </div>
                <div class="col75">
                    <div id="slider-internet" class="range mb_slider" data-property="{minVal: {{internetMin}}, maxVal: {{internetMax}}, startAt:0, grid:1}"></div>
                </div>
            </div>
            <div class="opt nuevo-tv" ng-show="mostrarSlideTv">
                <div class="col25">
                    <strong>TV</strong>
                </div>
                <div class="col75">
                    <div id="slider-tv" class="range mb_slider" data-property="{minVal: {{tvMin}}, maxVal: {{tvMax}}, startAt:0, grid:1}"></div>
                </div>
            </div>
            <div class="opt nuevo-telefonia" ng-show="mostrarSlideFijo">
                <div class="col25">
                    <strong>Telefonía Fija</strong>
                </div>
                <div class="col75">
                    <div id="slider-telefonia" class="range mb_slider" data-property="{minVal: {{fijoMin}}, maxVal: {{fijoMax}}, startAt:0, grid:1}"></div>
                </div>
            </div>
            <p class="center" id="divaction" ng-show="mostrarBoton">
                <!--ng-show="mostrarBoton"-->
                <button type="button" class="bt bt-red btconsultar" ng-click="mostrarPlanesRecomendados()">Consultar</button>
            </p>
        </div>
        <div ng-show="errorTotalRedirect">
            <div class="resume box clearfix" style="text-align: center;">
                <div class="col100">
                    <h3>{{mensaje_error_titulo}}</h3>
                    <p>
                        {{mensaje_error_descripcion01}}.
                        <br /> {{mensaje_error_descripcion02}}
                        <br />
                        <br />
                        <a href="{{urlInicio}}"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24"></a>
                    </p>
                    <br>
                </div>
            </div>
        </div>
        <div ng-show="mostrarPlanes">
            <div class="" id="idMoviles">
                <div class="detail clearfix">
                    <div class="tabs tabs-consumos">
                        <ul class="tab-links no-mobile clearfix" ng-show="mostrarTabsPlanes">
                            <li ng-style="stiloRedimension" ng-class="{'active': $index == indice}" ng-repeat="tabs in cargarTabs" ng-click="buscarPlanes(tabs.idTab,tabs.categoria,$index)"><a href="">{{tabs.nombreTab}}</a></li>
                        </ul>
                        <div class="pull pulldate on-mobile" ng-show="mostrarTabsPlanes">
                            <div ng-bind="selectTab.nombreTab"></div>
                            <select name="itabs" id="itabs" ng-model="selectTab" ng-options="tabs.nombreTab for tabs in cargarTabs" ng-change="buscarPlanesMobile()">
                            </select>
                        </div>
                        <div class="tab-content nobg">
                            <div id="consumo-opt01" class="tab active">
                                <div class="result-lista">
                                    <h4 class="tit-bordernew"></h4>
                                    <div class="slide-planes" id="idPlanesTabs">
                                        <div class="canvas">
                                            <div class="planes clearfix">
                                                <div class="plan" ng-style="agregarCss()" ng-repeat="planesxTab in planesxTab">
                                                    <div ng-class="{'sugerido': planesxTab.idPlan == planSugest}" class="name" ng-bind="planesxTab.nombre"></div>
                                                    <div class="precio">{{planesxTab.moneda}} {{planesxTab.precio}}</div>
                                                    <div class="text">
                                                        <div ng-bind-html="$sce.trustAsHtml(planesxTab.icono1+''+ planesxTab.texto1)"></div>
                                                        <div ng-bind-html="$sce.trustAsHtml(planesxTab.icono2+''+ planesxTab.texto2)"></div>
                                                        <div ng-bind-html="$sce.trustAsHtml(planesxTab.icono3+''+ planesxTab.texto3)"></div>
                                                        <div ng-bind-html="$sce.trustAsHtml(planesxTab.icono4+''+ planesxTab.texto4)"></div>
                                                        <div ng-bind-html="$sce.trustAsHtml(planesxTab.icono5+''+ planesxTab.texto5)"></div>
                                                        <div ng-bind-html="$sce.trustAsHtml(planesxTab.icono6+''+ planesxTab.texto6)"></div>
                                                        <div ng-bind-html="$sce.trustAsHtml(planesxTab.icono7+''+ planesxTab.texto7)"></div>
                                                        <div ng-bind-html="$sce.trustAsHtml(planesxTab.icono8+''+ planesxTab.texto8)"></div>
                                                        <button type="button" class="bt bt-red" ng-click="mostrarPlanTerminos(planesxTab)" ng-disabled="desabilitarBoton">Solicitar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>[Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Solicitudes/Mensaje Footer Cambio Plan"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="mostrarDetallePlan">
            <p class="border-bottom" style="margin-bottom: 18px;">SERVICIO SELECCIONADO:</p>
            <div class="resume box clearfix no-mobile" style="padding-bottom: 20px;">
                <div>
                    <div class="col col33 no-mobile"><strong>Servicio</strong></div>
                    <div class="col col33 no-mobile"><strong>Plan</strong></div>
                    <div class="col col33 no-mobile"><strong>Precio</strong></div>
                </div>
                <div>
                    <div class="col col33">{{tipoServicio}}</div>
                    <div class="col col33">{{objPlanConfirmar.nombre}}</div>
                    <div class="col col33 precio" style="color: #d42b1e;font-family: 'DIN-BoldAlternate';">{{objPlanConfirmar.moneda}} {{objPlanConfirmar.precio}}</div>
                </div>
            </div>
            <div class="resume box clearfix on-mobile" style="padding-bottom: 20px;">
                <div>
                    <div class="col col50" style="margin-bottom: 0px;"><strong>Servicio</strong></div>
                    <div class="col col50">{{tipoServicio}}</div>
                </div>
                <div>    
                    <div class="col col50" style="margin-bottom: 0px;"><strong>Plan</strong></div>
                    <div class="col col50">{{objPlanConfirmar.nombre}}</div>
                </div>
                <div>    
                    <div class="col col50" style="margin-bottom: 0px;"><strong>Precio</strong></div>
                    <div class="col col50 precio" style="color: #d42b1e;font-family: 'DIN-BoldAlternate';">{{objPlanConfirmar.moneda}} {{objPlanConfirmar.precio}}</div>
                </div>
            </div>
            <p style="margin-bottom: 30px;">
                <label class="check" id="checkboxTerminos">
                    <input type="checkbox" ng-click="aceptarTerminosCondiciones(modelAceptarTerminos)" id="iterminos" ng-model="modelAceptarTerminos" name="iterminos" value="1" data-valid="required">
                </label>
                Acepto los <a href="" ng-click="mostrarPopUpTerminos()" class="red linkterminos">Términos y Condiciones</a>
            </p>
            <div class="div-bts">
                <button type="button" ng-click="regresar()" class="bt bt-white">Regresar</button>
                <button type="button" ng-click="solicitarNuevoServicio()" disabled="disabled" class="bt bt-red bt-disabled" id="btcontratar">Contratar</button>
            </div>
        </div>
        <div ng-show="errorPlanesSugeridos">
            <er-Customerror on-Refresh="refreshPortlet('1')"></er-Customerror>
        </div>
    </div>
</div>
<div id="popupTerminos" class="popup">
    <div class="bg" ng-click="ocultarPopUpTerminos()"></div>
    <div class="pop">
        <button type="button" ng-click="ocultarPopUpTerminos()" class="bt btclose"></button>
        <div class="content">
            <h3 class="terminos">Términos y Condiciones</h3>
            <p>Lee detenidamente los Términos y Condiciones de MiClaro.</p>
            <div class="frame" ng-show="terminosMovil">
                <div class="text">
                    [Element key="Texto Legal" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Terminos y Condiciones/Nuevo Servicio Movil Consumer"]
                </div>
            </div>
            <div class="frame" ng-show="terminosNoMovil">
                <div class="text">
                    [Element key="Texto Legal" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Terminos y Condiciones/Nuevo Servicio No Movil Consumer"]
                </div>
            </div>
            <form method="post" id="iterminosformpop">
                <p>
                    <a href="" ng-click="ocultarPopUpTerminos()" class="bt bt-gris" id="btterminoscancel">Cancelar</a>
                    <a href="" ng-click="aceptarTerminos()" class="bt bt-red" id="bterminosaceptar">Aceptar</a>
                </p>
            </form>
        </div>
    </div>
</div>
<div id="idPopupNuevoServicio" class="popup">
    <div class="bg"></div>
    <div class="pop">
        <div class="content">
            <div id="idProcesando">
                <p>&nbsp;</p>
                <p><img src="/wpstheme/miclaro/img/preloader.gif" width="32" height="32"></p>
                <p>&nbsp;</p>
                <h3 id="idGifProc">Realizando transacción</h3>
                <p>Espera un momento, por favor...</p>
            </div>
            <div id="idConfirmacion">
                <h3>Listo</h3>
                <p>Se ha enviado su solicitud con éxito. Muy pronto un asesor se comunicará
                    <br> con usted a su teléfono de contacto.
                    <br>&nbsp;</p>
                <p><a href="" class="bt bt-red" id="btcambioplanaceptar" ng-click="cerrarConfirmacion()">Ok</a></p>
            </div>
            <div id="idConfirmacionError">
                <h3>{{mensaje_error_upps}}</h3>
                <p>{{mensaje_error_descripcion01}}. {{mensaje_error_descripcion02}}.
                    <br>
                    <br>&nbsp;</p>
                <p><a href="" class="bt bt-red" id="btcambioplanaceptar" ng-click="cerrarPopup()">Ok</a></p>
            </div>
        </div>
    </div>
</div>