<div class="tabs tabs-home tabs-corporate">
    <ul class="tab-links clearfix">
        <li class="movil"><a href="/wps/myportal/miclaro/corporativo/solicitudes/nuevoservicio/movil"><span></span> Móvil</a></li>
        <li class="fijo active"><a href="/wps/myportal/miclaro/corporativo/solicitudes/nuevoservicio/fijo"><span></span> Fijo</a></li>
        <li class="internet"><a href="/wps/myportal/miclaro/corporativo/solicitudes/nuevoservicio/internet"><span></span> Internet</a></li>
        <li class="tv"><a href="/wps/myportal/miclaro/corporativo/solicitudes/nuevoservicio/tv"><span></span> TV</a></li>
    </ul>
    <div class="tab-content">
        <div id="fijo" class="tab active">
            <div class="change-type on-mobile-switch" ng-show="mostrarSwitchCorporativo">
                <label for="itype1">Residencial</label>
                <div class="switch">
                    <input type="checkbox" name="itype1" checked class="switch-checkbox" id="itype1" ng-model="switchSelect" ng-change="switchChange()">
                    <label class="switch-label" for="itype1"></label>
                </div>
                <label><span>Corporativo</span></label>
            </div>
            <div class="breadcrumb">
                Solicitudes <span class="arrow"></span> <strong>Nuevo Servicio</strong>
            </div>
            <h3 class="mobile">[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Corporativo/Solicitudes/Nuevo Servicio"]</h3>
            <div ng-show="mostrarInfoCorporativo">
                <p>[Element key="subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Corporativo/Solicitudes/Nuevo Servicio"]
                    <br>&nbsp;</p>
                <p>
                    <button type="button" class="bt bt-red btcambiarplan" ng-click="solicitarNuevoServicio()">Solicitar Nuevo Servicio</button>
                </p>
                <p>&nbsp;</p>
                <p>O comuníquese con nosotros a los teléfonos:</p>
                <div class="phone-box">
                    <p>
                        Desde tu celular Claro:
                        <strong>*200</strong> sin costo
                    </p>
                </div>
                <div class="phone-box">
                    <p>
                        Desde tu teléfono fijo:
                        <strong>0-800-00-200</strong> sin costo
                    </p>
                </div>
                <div class="phone-box">
                    <p>
                        Desde tu móvil o fijo:
                        <strong>(01) 620-0200</strong> con costo
                    </p>
                </div>
                <p>[Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Corporativo/Solicitudes/Mensaje Footer Cambio Plan"]</p>
            </div>
            <div ng-show="errorTotalRedirect">
                <div class="resume box clearfix" style="text-align: center;">
                    <div class="col100">
                        <h3>{{mensaje_error_titulo}}</h3>
                        <p>
                            {{mensaje_error_descripcion01}}.
                            <br /> {{mensaje_error_descripcion02}}
                            <br />
                            <br />
                            <a href="{{urlInicio}}"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24"></a>
                        </p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="idPopupNuevoServicio" class="popup">
    <div class="bg"></div>
    <div class="pop">
        <button type="button" class="bt btclose" ng-click="cerrarPopup()"></button>
        <div class="content">
            <div id="idProcesando">
                <p>&nbsp;</p>
                <p><img src="/wpstheme/miclaro/img/preloader.gif" width="32" height="32"></p>
                <p>&nbsp;</p>
                <h3 id="idGifProc">Realizando transacción</h3>
                <p>Espera un momento, por favor...</p>
            </div>
            <div id="idConfirmacion">
                <h3>[Element key="titulo" type="content" context="selected" name="Mi Claro Content Library/Mi Claro/Corporativo/Solicitudes/Modal - Nuevo Servicio - Confirmacion"]</h3>
                <p>[Element key="subtitulo" type="content" context="selected" name="Mi Claro Content Library/Mi Claro/Corporativo/Solicitudes/Modal - Nuevo Servicio - Confirmacion"]&nbsp;</p>
                <p><a href="" class="bt bt-red" id="btcambioplanaceptar" ng-click="cerrarPopup()">Ok</a></p>
            </div>
            <div id="idConfirmacionError">
                <h3>{{mensaje_error_titulo}}</h3>
                <p>{{mensaje_error_descripcion01}} {{mensaje_error_descripcion02}}.
                    <br>
                    <br>&nbsp;</p>
                <p><a href="" class="bt bt-red" id="btcambioplanaceptar" ng-click="cerrarPopup()">Ok</a></p>
            </div>
        </div>
    </div>
</div>
