<div class="tabs tabs-home">
	<ul class="tab-links clearfix">
		<li class="movil"><a href="/wps/myportal/miclaro/consumer/recibos/movil/"><span></span> Móvil</a></li>
		<li class="fijo"><a href="/wps/myportal/miclaro/consumer/recibos/fijo/"><span></span> Fijo</a></li>
		<li class="internet active"><a href="/wps/myportal/miclaro/consumer/recibos/internet/"><span></span> Internet</a></li>
		<li class="tv"><a href="/wps/myportal/miclaro/consumer/recibos/tv/"><span></span> TV</a></li>
	</ul>

	<div class="tab-content">
		<div class="breadcrumb">
			[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Corporativo/Recibos/Ver y pagar recibos"]
		</div>

		<h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Corporativo/Recibos/Ver y pagar recibos"]</h3>
		<div id="internet" class="tab active">
			<div class="resume box clearfix">
				<div class="col100">
					<h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Home/Internet - Sin Plan"]</h3>
					<p>
						[Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Home/Internet - Sin Plan"]
						<br> &nbsp;
					</p>
					<p>
						<a href="/wps/myportal/miclaro/consumer/solicitudes/nuevoservicio" class="bt bt-red">Solicitar nuevo servicio</a>
					</p>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>