<div class="tabs tabs-home">
		
		<ul class="tab-links clearfix">
			<li class="movil"><a href="/wps/myportal/miclaro/consumer/consultas/servicioscontratados/movil"><span></span> Móvil</a></li>
			<li class="fijo"><a href="/wps/myportal/miclaro/consumer/consultas/servicioscontratados/fijo/"><span></span> Fijo</a></li>
			<li class="internet active"><a href="/wps/myportal/miclaro/consumer/consultas/servicioscontratados/internet/"><span></span> Internet</a></li>
			<li class="tv"><a href="/wps/myportal/miclaro/consumer/consultas/servicioscontratados/tv/"><span></span> TV</a></li>
		</ul>

		<div class="tab-content">
			<div id="internet" class="tab active">

				<div class="change-type on-mobile" id="wps_switchmobile" style="display: none;">
					<label>Consumer</label>
					<div class="switch">
						<input type="checkbox" name="itype1" class="switch-checkbox" id="itype1" ng-model="switchSelect" ng-change="switchChange()" />
						<label class="switch-label" for="itype1"></label>
					</div>
					<label for="itype1"><span>Corporativo</span></label>
				</div>

				<div class="breadcrumb">
					Consultas <span class="arrow"></span> <strong>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Servicios Contratados"]</strong>
				</div>
				
				<h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Consultas/Servicios Contratados"]</h3>
				
				<div id="show_panel" style="display: none;">
					<div class="resume box clearfix">
						<div class="col50" id="show_servicios" style="display: none">
							<p><span class="type">&nbsp;</span></p>
							<div class="pull pullservicio">
								<div>{{servicioSelect.ProductoServicioResponse.nombreAlias}}</div>							 
	                            <select
								  ng-model="servicioSelect"
								  ng-options="rsServicio.ProductoServicioResponse.nombreAlias for rsServicio in lsServicio"
								  ng-change="changeServicio()">
								</select>

							</div>
							<p>{{wps_direccionCompleta}}</p>
						</div>
						<div class="col50" id="show_servicios_error" style="display: none;">
	                        <p class="error-server" style="text-align: center;">
	                            <strong>{{mensaje_upps_titulo}}</strong><br>
                                {{mensaje_upps_descripcion01}}<br>{{mensaje_upps_descripcion02}}<br>	
	                            <a href="" ng-click="init()"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24"></a>
	                        </p>
	                    </div>
						
						<div class="col50" id="show_datosadicionales" style="display: none">
							<p>
								&nbsp;<br>
								<p ng-show="wps_show_fecha_activacion">
									Fecha de Activación: <strong>{{wps_fechaActivacion | limitTo: 10 | date:"dd-MM-yyyy"}}</strong><br>
								</p>
								<p ng-show="wps_show_estado">
									Estado: <strong>{{wps_estado}}</strong>
								</p>
							</p>
						</div>
						<div class="col50" id="show_datosadicionales_error" style="display: none;">
	                        <p class="error-server" style="text-align: center;">
	                            <strong>{{mensaje_upps_titulo}}</strong><br>
                                {{mensaje_upps_descripcion01}}<br>{{mensaje_upps_descripcion02}}<br>	
	                            <a href="" ng-click="getObtenerDatosAdicionalesServicioFijoWS()"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24"></a>
	                        </p>
	                    </div>
					</div>
					<div class="detail clearfix">
						
						<div class="col70 box" id="show_detalleplan" style="display: none;">
							<div class="detalle-plan">
								<p class="border-bottom">Detalle del plan</p>
								<table class="table-plan">
									<tr>
		                                <th>{{wps_planActual}}</th>
		                                <th width="40%">Cargo Fijo Mensual: {{wps_simboloMoneda}} {{wps_cargoFijo}}</th>
		                            </tr>
		                            <tr>
		                                <td>Velocidad Mínima</td>
		                                <td>{{wps_velocidadMinima}}</td>
		                            </tr>
		                            <tr>
		                                <td>Velocidad Máxima</td>
		                                <td>{{wps_velocidadMaxima}}</td>
		                            </tr>
		                            <tr>
		                                <td colspan="2" class="bts">
		                                    <a href="" ng-click="dataLayerMedirVelocidad()" class="bt bt-white">Medir Velocidad</a>
		                                    <a href="" ng-click="dataLayerCambiarPlan()" class="bt bt-red">Cambiar de plan</a>
		                                </td>
		                            </tr>
								</table>
							</div>
						</div>
						<div class="col70 box" id="show_detalleplan_error" style="display: none;">
	                        <div class="detalle-plan">
	                            <p class="border-bottom">Detalle del plan</p>
	                            <div class="shadow">
	                                <p class="error-server">
	                                    <strong>{{mensaje_upps_titulo}}</strong><br>
	                                    {{mensaje_upps_descripcion01}}<br>{{mensaje_upps_descripcion02}}<br>
	                                    <a href="" ng-click="getObtenerDetallePlanInternetWS()"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24"></a>
	                                </p>

	                            </div>
	                        </div>
	                    </div>
					</div>
					<div class="col100">
						<div class="publicidad box">
							<p>Publicidad</p>
							<div class="big-ad" id="imgPublicidad"></div>
						</div>
					</div>
				</div>
				
				<div class="resume box clearfix" id="show_notiene" style="display: none">
                    <div class="col100">
                        <h3>[Element key="Titulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Home/Internet - Sin Plan"]</h3>
                        <p>
                            [Element key="Subtitulo" type="content" context="selected" name="/Mi Claro Content Library/Mi Claro/Consumer/Home/Internet - Sin Plan"]<br>
                            &nbsp;
                        </p>
                        <p>
                            <a href="/wps/myportal/miclaro/consumer/solicitudes/nuevoservicio" class="bt bt-red">Solicitar nuevo servicio</a>
                        </p>
                        <br>
                    </div>
                </div>

                <div class="resume box clearfix" style="text-align: center; display: none" id="show_error">
		            <div class="col100">
		                <h3>{{mensaje_error_titulo}}</h3>
		                <p>
		                    {{mensaje_error_descripcion01}}. <br />
							{{mensaje_error_descripcion02}} <br /><br />
							<a href="/wps/myportal/miclaro/consumer/consultas/servicioscontratados/internet"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24"></a>
		                </p>
		                <br>
		            </div>
		        </div>

		        <div class="resume box clearfix" style="text-align: center; display: none" id="show_error_root">
		            <div class="col100">
		                <h3>{{mensaje_error_titulo}}</h3>
		                <p>
		                    {{mensaje_error_descripcion01}}. <br />
							{{mensaje_error_descripcion02}} <br /><br />
							<a href="/wps/myportal/miclaro/root"><img src="/wpstheme/miclaro/img/icon-actualizar.png" width="24"></a>
		                </p>
		                <br>
		            </div>
		        </div>

			</div>
		</div>
        
	</div>
<script>
$(document).ready(function() {
     $('.help').tooltip({placement: "top"});
});
</script>